@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img {
    
   float: left;
    z-index: -1;
    
}

.background-image {
    
    margin: 20%;
    left: 50px;
}

body {
    background-color: black;

}

.container-button {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

button {
    background-color: #79cb15;
    border-radius: 6px;
    border: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

ul {
    margin-top: 80px;
    list-style: none;
    /* Para retirar as bolinhas que fica ao lado */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
}

li {
    border: 2px solid #8133ff;
    border-radius: 10px;
    padding: 5px;
}

.bottom {
    display: flex;
    color: #79cb15;
    width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
}

p {
    color: white;
    font-weight: bold;
    padding-left: 10px;

}

.price {
    font-weight: bold;
    color: #79cb15;
}